@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anton&family=Montserrat:ital@1&display=swap');

.cactusAcresHomePage{
     font-family: 'Montserrat', sans-serif;

    .homePage{
        margin:10px 10px;
        .heroSection{
           

            @media  (min-width:768px){
                display: grid;
                grid-template-columns: 1fr 1fr;
                padding: 10px 10px;
            }
            
            .text-boxes{

                .title{

                    .welcome{
                       
                        font-family: 'Abril Fatface', cursive;
                        color:#1b1c1d;
                        justify-content:center;
                        text-align:center;
                        font-size:2.3em;
                        border-radius:10px;
                       
                        

                        @media  (min-width:768px){
                            font-size:4.5em;
                            margin: 10px 10px;
                        }
                        
                    }
                }

            }

            .slideshow-CactusAcres{

            }

            
        }

        .button-contact{
            justify-content:center;
            text-align:center;
            
            

            .btn-contact{
                background:#1b1c1d;
                color:white;
                width:90%;

                font-size:2em;
                border-radius:10px;
                border: none;
                margin: 10px;

                @media  (min-width:768px){
                    font-size:2.8em;
                }
            }
        }

        .card{
           flex-direction: column;
            @media  (min-width:768px){
                display: flex;
                font-size:1.5em;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;

            }
            .boxs{
                border-radius: 10px;
                border: 1px solid #1b1c1d;
                justify-content: center;
                align-items: center;
               background-color: #cfffca;
                margin: 5px 5px;

                .title{
                    text-align: center;
                }

                .text{
                    text-align: center;
                }
            }
        }

        .map{
            background:#1b1c1d;
        }
    }

    
}