.homePage {
  .companyCardsContainer {
    display: flex;
    justify-content: center;

    .companyCardsWrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;

      width: 95%;
    }
  }
}
