.homePage {
  .companyCardsContainer {
    display: flex;
    justify-content: center;

    .companyCardsWrapper {
      display: flex;
      flex-wrap: wrap;

      justify-content: center;
    }
  }
}
