$headerHeight: 50px;

$color-main: #005248;
$text-color-main: #ec990a;

.RDSNNavbar {
  display: flex;
  align-items: center;

  background-color: $color-main;
  color: $text-color-main;

  height: $headerHeight;

  .backButton {
    flex-direction: start;

    text-decoration: none;
    color: $text-color-main;

    font-size: 30px;
    font-weight: 600;

    margin-left: 10px;
  }

  .titleTextContainer {
    display: flex;
    justify-content: center;

    flex: 1;

    .titleText {
      font-size: 25px;
      font-weight: 500;
    }
  }
}
